.jumbo-button {
    background-color: #969798;
    padding: 40px;
    text-align: center;
    color: #fff;
  }
  
  .jumbo-header {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    color: #007bff;
  }
  
  .cta-button:hover {
    background-color: #007bff;
    color: #fff;
  }
